<div class="wrapper">
  <app-header></app-header>
  <app-sidebar moduleName="mahasiswa"></app-sidebar>
  <div class="content-wrapper">
    <div class="content-header">
      <div class="conteiner-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Mahasiswa</h1>
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
                <li class="breadcrumb-item active">mahasiswa</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>

    <section class="content">
      <div class="container-fluid">
        <div class="row"></div>
        <section class="content">
          <div class="container-fluid">
            <!--main row-->
            <div class="row">
              <div class="table-responsive">
                <table
                  id="table1"
                  class="table table-hover table-bordered table-striped"
                >
                  <thead>
                    <tr>
                      <th>NIM</th>
                      <th>Nama</th>
                      <th>jenis kelamin</th>
                      <th>tempat,Tanggal lahir</th>
                      <th>jp</th>
                      <th>alamat</th>
                      <th>status</th>
                      <th>tahun masuk</th>
                    </tr>
                  </thead>
                </table>
              </div>
            </div>
          </div>
        </section>
      </div>
    </section>
  </div>
  <app-footer></app-footer>
</div>
